
<div class="flex justify-center mt-2">
  <div class="card">
    <h2 class="titulo">Ficha Seleccionado - Gemin Associates</h2>
    <p class="cuerpo">
      Mediante el siguiente formulario recogeremos información para GESTIONAR TU CONTRATO, por lo que te pedimos ingreses la información CON MUCHO CUIDADO. Si tienes dudas o inquietudes, recuerda que puedes comunicarte con nuestro equipo de Selección para que pueda apoyarte.
    </p>
    <p class="cuerpo mt-4">
      Te comentamos que Gemin Associates ha adoptado medidas, a fin de garantizar la seguridad de los datos almacenados, los cuales serán tratados de forma confidencial por el equipo de Gestión Humana y quienes pudiesen estar a cargo del presente proceso en cumplimiento con la normativa aplicable en nuestra empresa.
    </p>
  </div>
</div>


<div class="flex justify-center mt-8">
  <div class="card">
    <h2 class="titulo">Documento de identidad</h2>
    <p class="cuerpo">
      Tipo documento
    </p>
    <p class="cuerpo">
      <select id="cbo-tipo-doc" class="border border-gray-300 w-full px-3 py-2 mb-4 rounded-md focus:outline-none focus:ring-1 focus:ring-purple-600" disabled >
          <option value=""></option>
          <option value="1">DNI</option>
          <option value="2">Carnet Extranjeria</option>
      </select>
    </p>
    <p class="cuerpo">
      Nro documento
    </p>
    <p class="cuerpo">
      <input id="txt-usuario" class="border border-gray-300 w-full px-3 py-2  rounded-md focus:outline-none focus:ring-1 focus:ring-purple-600 invalid:focus:ring-red-400" type="text" placeholder="documento" name="no-autofill-user" autocomplete="off" disabled >
    </p>
  </div>
</div>


<div class="flex justify-center mt-8">
  <div class="card">
    <h2 class="titulo">Condición de Trabajador</h2>
    <p class="cuerpo">
      <select id="cbo-condicion" class="border border-gray-300 w-full px-3 py-2 mb-4 rounded-md focus:outline-none focus:ring-1 focus:ring-purple-600" >
          <option value="" disabled selected>Seleccione una condición</option>
          <option value="1">Nuevo</option>
          <option value="2">Reingreso</option>
      </select>
    </p>
  </div>
</div>

<div class="flex justify-center mt-8">
  <div class="card">
    <h2 class="titulo">Datos Personales</h2>
    <p class="cuerpo">
      Apellido Paterno
    </p>
    <p class="cuerpo">
      <input id="txt-ape-paterno" class="border border-gray-300 w-full px-3 py-2  rounded-md focus:outline-none focus:ring-1 focus:ring-purple-600 invalid:focus:ring-red-400 uppercase" type="text" placeholder="apellido paterno" name="no-autofill-user" autocomplete="off" >
    </p>
    <p class="cuerpo mt-2">
      Apellido Materno
    </p>
    <p class="cuerpo">
      <input id="txt-ape-materno" class="border border-gray-300 w-full px-3 py-2  rounded-md focus:outline-none focus:ring-1 focus:ring-purple-600 invalid:focus:ring-red-400 uppercase" type="text" placeholder="apellido materno" name="no-autofill-user" autocomplete="off" >
    </p>
    <p class="cuerpo mt-2">
      Nombres
    </p>
    <p class="cuerpo">
      <input id="txt-nombres" class="border border-gray-300 w-full px-3 py-2  rounded-md focus:outline-none focus:ring-1 focus:ring-purple-600 invalid:focus:ring-red-400 uppercase" type="text" placeholder="nombres" name="no-autofill-user" autocomplete="off" >
    </p>
  </div>
</div>


<div class="flex justify-center mt-8">
  <div class="card">
    <h2 class="titulo">Proyecto al que postula</h2>
    <p class="cuerpo">
      Puesto al que está postulando
    </p>
    <p class="cuerpo">
      <select id="cbo-puesto" class="border border-gray-300 w-full px-3 py-2 mb-4 rounded-md focus:outline-none focus:ring-1 focus:ring-purple-600" >
          <option value="" disabled selected>Seleccione una puesto</option>
          <option value="1">Pintor</option>
          <option value="2">Programador</option>
      </select>
    </p>
  </div>
</div>





<div class="flex justify-center mt-8">
  <div class="card">
    <h2 class="titulo">Título de la Card</h2>
    <p class="cuerpo">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil facilis, earum in harum sint maxime! Tenetur ab quidem animi doloremque facilis atque quod, sit assumenda officia enim! Ipsa, facere neque?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum sed rerum repudiandae mollitia? Error quo eaque minima labore dolore corrupti rerum nisi enim vero. Magnam omnis illum reprehenderit in. Distinctio.
    </p>
  </div>
</div>






<div class="flex justify-center mt-8">
  <div class="card">
    <h2 class="titulo">Título de la Card</h2>
    <p class="cuerpo">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil facilis, earum in harum sint maxime! Tenetur ab quidem animi doloremque facilis atque quod, sit assumenda officia enim! Ipsa, facere neque?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum sed rerum repudiandae mollitia? Error quo eaque minima labore dolore corrupti rerum nisi enim vero. Magnam omnis illum reprehenderit in. Distinctio.
    </p>
  </div>
</div>









<input id="hdfRpta" type="hidden" value="@ViewBag.Rpta" />
<input id="hdfCred" type="hidden" value="@ViewBag.Cred" />

@{
    @section scripts {
        <script src="~/js/home/datos.js"></script>
    }
}
