<div>
    <div class="bg-white shadow-md rounded-lg p-4 flex justify-center items-center mb-6">
        <img src='@Url.Content("~/Images/logo/logo.jpeg")' alt="Logo" class="h-16 object-contain" />
    </div>

    <div class="bg-white w-80 mx-auto mt-8 rounded-lg p-6">
        <p class="text-blue-400">Ingresa usuario</p>
        <input id="txt-prueba" class="border border-gray-300 w-full px-3 py-2  rounded-md focus:outline-none focus:ring-1 focus:ring-purple-600 invalid:focus:ring-red-400" type="text" placeholder="Usuario" name="no-autofill-user" maxlength="70" autocomplete="off">
        <p id="error-message-usuario" class="text-red-400 hidden"><span id="spnUsuario"></span></p>

        <p class="text-blue-400">Ingresa clave</p>
        <input id="txt-saludo" class="border border-gray-300 w-full px-3 py-2 mt-4 mb-4 rounded-md focus:outline-none focus:ring-1 focus:ring-purple-600 invalid:focus:ring-red-400" type="password" placeholder="Clave" maxlength="70" autocomplete="new-password" maxlength="20">
        <p id="error-message-clave" class="text-red-400 hidden">Debe ingresar una Clave</p>

        <button id="btn-boton" class="bg-blue-500 w-full py-2 text-white rounded-md cursor-pointer hover:bg-blue-400 disabled:bg-gray-400 disabled:text-gray-200 disabled:cursor-not-allowed">Ingresar</button>

    </div>

</div>

@{
    @section scripts {
    <script src="~/js/home/index.js"></script>
    }
}
